html, body {
    height: 100%;
    width: auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

body {
    /*Background vector created by Starline - Freepik.com */
    /* BACKGROUND ISN'T WORKING */
    /*background-image: url("https://www.freepik.com/free-vector/circular-halftone-dots-vector-background_1725109.htm");*/
}

div img {
    width: 100px;
    height: 100px;
    margin: 0px 0px;
}

/* Classes */
.col-element {
    margin: auto auto;
}

.col-image {
    padding: 0px 0px;
}

.container-spacer {
    width: 700px;
    height: 20px;
    background-color: gray;
    position: relative;
    z-index: 1;
}

.display-2 {
    font-weight: 700;
    font-size: 5em;
    text-align: center;
}

.row {
    margin: 0px 0px;
}

.stream-div {
    font-size: 1.35em;
    border-bottom: 2px solid gray;
    position: relative;
    z-index: 2;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    border: none;
}

a, 
a:active,
a:visited {
    color: #776747;
}

a:hover {
    color: #9b865b;
}

/* ID's */
#channels-container {
    background-color: lightgray;
    border: none;
    max-width: 730px;
    box-shadow: 0px 5px 10px black;
    margin: auto auto;
    padding: 0px 0px;
    position: relative;
    z-index: 2;
}

#header-row {
    width: 850px;
    font-family: 'Titillium Web';
    text-shadow: -3px 3px 0px #719b90;
    margin: auto auto;
    padding: 20px;
    color: #fcf4e5;
    background-color: #507a6f;
    box-shadow: 0px 5px 10px black;
    position: relative;
    z-index: 2;
}

 /* This looks good for now, but you haven't thoroughly checked all of it */
 /* Bootstrap media queries*/
@media (max-width: 991px) {
    body {
        font-size: 12px;
    }
    
    div img {
        width: 75px;
        height: 75px;
    }
    
    .container-spacer {
        width: 70%;
    }
    
    #header-row {
        width: 90%;
    }
    
    
}

@media (max-width: 760px) {
    
}